<form [formGroup]="Form" (ngSubmit)="FinalText()">
  <div>
    <select formControlName="language">
      <option *ngFor="let language of Languages" [value]="language.value">
        {{ language.name }}
      </option>
    </select>
  </div>
  <div class="container">
    <div style="position: relative">
      <div class="suggestions" *ngIf="suggetions.length!==0">
        <label *ngFor="let sug of suggetions">
          <input type="radio" formControlName="suggest" [value]="sug" />{{
            sug
          }}</label
        >
      </div>
      <textarea
        name="userInput"
        placeholder="enter your text"
        formControlName="inputText"
      ></textarea>
    </div>
    <div>
      <textarea
        name="translatedInput"
        placeholder=" Translated text"
        formControlName="translatedText"
      ></textarea>
    </div>

   
  </div>
  <button>submit</button>
</form>
<p>{{TranslatedText}}</p>
